---
title: Deposits

services:
 - title: Депозит «Стандарт +»
   info: Призначений для Вкладників, які хочуть отримати від розміщених коштів високий прибуток після закінчення строку депозиту

 - title: Family & Friends
   info: Передбачений для клієнтів, що бажають отримувати ще більше доходу разом із своїми близькими та друзями або ж отримувати бонус від розміщення своїх власних додаткових коштів.

 - title: Подарунок на повноліття
   info: Cпеціальний вклад для збереження коштів для дітей якi може отримати ці кошти в день досягнення 18-ти річного віку, як подарунок від батьків, дідусів, бабусь та інших близьких.

accordion:

 - title: Максимальний дохід
   info: Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування.

 - title: З можливістю поповнення
   info: Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування.

 - title: Комфортні
   info: Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування.

 - title: Он-лайн
   info: Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування.

 - title: Фонд гарантування вкладів фізичних осіб
   info: Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування.

 - title: Виплати коштів з Фонду гарантування вкладів
   info: Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування.

---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="breadcrumbs">
		<a href="#" class="breadcrumbs__link">KredoBank</a>
	</div>
	<div class="content__title">
		<h2 class="h2">Депозити</h2>
	</div>
	<div class="article">
		<img src="img/deposits.jpg" alt="">
		<div>
			<p>Вклади від Кредобанку це надійні гарантії збереження та примноження заощаджень. Ми впевнені, що серед наших пропозицій Ви знайдете саме цей вклад, умови якого задовольнять всі Ваші очікування.</p>
			<h3>Переваги наших депозитiв:</h3>
			<ul>
				<li>Вклади у гривнях, доларах США або ЄВРО </li>
				<li>На строк від 1 дня до 20 років</li>
			   	<li>Отримання коштів у будь-якому банкоматі України - безкоштовно *</li>
			</ul>
		</div>
	</div>

	{% include "partials/_services.html" %}

	<div class="accordion">
		{% for items in accordion %}
			<div class="accordion__container">
				<a href="#" class="accordion__link accordion__link-no__active">
					<p class="accordion__title">{{items.title}}</p>
					<div class="accordion__icon">
			    		<span class="accordion__icon-horizontal accordion__icon-line"></span>
			    		<span class="accordion__icon-vertical accordion__icon-line"></span>
			    	</div>
			    </a>
		    	<div class="accordion__content">
		    		<p> {{items.info}}
		    			<a href="#" class="link-more">Дiзнатися бiльше <span>→</span></a>
		    		</p>
		    		<div class="useful">
						<h4 class="useful__title">Корисні посилання</h4>
						<a href="#" class="useful__link">Закон України «Про систему гарантування вкладів фізичних осіб»</a>
						<a href="#" class="useful__link">Довідка про систему гарантування вкладів фізичних осіб</a>
						<a href="#" class="useful__link">Освітній курс з фінансової грамотності ФГВФО</a>
					</div>
		    	</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
