---
title: Deposits
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="breadcrumbs">
		<a href="#" class="breadcrumbs__link">KredoBank</a>
	</div>
	<div class="content__title">
		<h2 class="h2">Депозити</h2>
	</div>
	<div class="article">
		<img src="img/deposits.jpg" alt="">
		<div>
			<p>Вклади від Кредобанку це надійні гарантії збереження та примноження заощаджень. Ми впевнені, що серед наших пропозицій Ви знайдете саме цей вклад, умови якого задовольнять всі Ваші очікування.</p>
			<h3>Переваги наших депозитiв:</h3>
			<ul>
				<li>Вклади у гривнях, доларах США або ЄВРО </li>
				<li>На строк від 1 дня до 20 років</li>
			   	<li>Отримання коштів у будь-якому банкоматі України - безкоштовно *</li>
			</ul>
		</div>
	</div>

	{% include "partials/_services.html" %}

	<div class="accordion">
		<div class="accordion__container">
			<a href="#" class="accordion__link accordion__link-no__active">
			    <p class="accordion__title">Максимальний дохід</p>
			    <div class="accordion__icon">
			    	<span class="accordion__icon-horizontal accordion__icon-line"></span>
			    	<span class="accordion__icon-vertical accordion__icon-line"></span>
			    </div>
			</a>
			<div class="accordion__content">
				<p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a href="#" class="accordion__link-small">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class="link-more">Дiзнатися бiльше <span>→</span></a></p>
				<div class="useful">
					<h4 class="useful__title">Корисні посилання</h4>
					<a href="#" class="useful__link">Закон України «Про систему гарантування вкладів фізичних осіб»</a>
					<a href="#" class="useful__link">Довідка про систему гарантування вкладів фізичних осіб</a>
					<a href="#" class="useful__link">Освітній курс з фінансової грамотності ФГВФО</a>
				</div>
			</div>
		</div>

		<div class="accordion__container">
			<a href="#" class="accordion__link accordion__link-no__active">
			    <p class="accordion__title">З можливістю поповнення</p>
			    <div class="accordion__icon">
			    	<span class="accordion__icon-horizontal accordion__icon-line"></span>
			    	<span class="accordion__icon-vertical accordion__icon-line"></span>
			    </div>
			</a>
			<div class="accordion__content">
				<p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a href="#" class="accordion__link-small">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class=" link-more">Дiзнатися бiльше <span>→</span></a></p>
				<div class="useful">
					<h4 class="useful__title">Корисні посилання</h4>
					<a href="#" class="useful__link">Закон України «Про систему гарантування вкладів фізичних осіб»</a>
					<a href="#" class="useful__link">Довідка про систему гарантування вкладів фізичних осіб</a>
					<a href="#" class="useful__link">Освітній курс з фінансової грамотності ФГВФО</a>
				</div>
			</div>

		</div>
		<div class="accordion__container">
			<a href="#" class="accordion__link accordion__link-no__active">
			    <p class="accordion__title">Комфортні</p>
			    <div class="accordion__icon">
			    	<span class="accordion__icon-horizontal accordion__icon-line"></span>
			    	<span class="accordion__icon-vertical accordion__icon-line"></span>
			    </div>
			</a>
			<div class="accordion__content">
				<p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a href="#" class="accordion__link-small">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class=" link-more">Дiзнатися бiльше <span>→</span></a></p>
				<div class="useful">
					<h4 class="useful__title">Корисні посилання</h4>
					<a href="#" class="useful__link">Закон України «Про систему гарантування вкладів фізичних осіб»</a>
					<a href="#" class="useful__link">Довідка про систему гарантування вкладів фізичних осіб</a>
					<a href="#" class="useful__link">Освітній курс з фінансової грамотності ФГВФО</a>
				</div>
			</div>
		</div>
		<div class="accordion__container">
			<a href="#" class="accordion__link accordion__link-no__active">
			    <p class="accordion__title">Он-лайн</p>
			    <div class="accordion__icon">
			    	<span class="accordion__icon-horizontal accordion__icon-line"></span>
			    	<span class="accordion__icon-vertical accordion__icon-line"></span>
			    </div>
			</a>
			<div class="accordion__content">
				<p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a href="#" class="accordion__link-small">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class=" link-more">Дiзнатися бiльше <span>→</span></a></p>
				<div class="useful">
					<h4 class="useful__title">Корисні посилання</h4>
					<a href="#" class="useful__link">Закон України «Про систему гарантування вкладів фізичних осіб»</a>
					<a href="#" class="useful__link">Довідка про систему гарантування вкладів фізичних осіб</a>
					<a href="#" class="useful__link">Освітній курс з фінансової грамотності ФГВФО</a>
				</div>
			</div>
		</div>
		<div class="accordion__container">
			<a href="#" class="accordion__link accordion__link-no__active">
			    <p class="accordion__title">Фонд гарантування вкладів фізичних осіб</p>
			    <div class="accordion__icon">
			    	<span class="accordion__icon-horizontal accordion__icon-line"></span>
			    	<span class="accordion__icon-vertical accordion__icon-line"></span>
			    </div>
			</a>
			<div class="accordion__content">
				<p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a href="#" class="accordion__link-small">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class=" link-more">Дiзнатися бiльше <span>→</span></a></p>
				<div class="useful">
					<h4 class="useful__title">Корисні посилання</h4>
					<a href="#" class="useful__link">Закон України «Про систему гарантування вкладів фізичних осіб»</a>
					<a href="#" class="useful__link">Довідка про систему гарантування вкладів фізичних осіб</a>
					<a href="#" class="useful__link">Освітній курс з фінансової грамотності ФГВФО</a>
				</div>
			</div>
		</div>
		<div class="accordion__container">
			<a href="#" class="accordion__link accordion__link-no__active">
			    <p class="accordion__title">Виплати коштів з Фонду гарантування вкладів</p>
			    <div class="accordion__icon">
			    	<span class="accordion__icon-horizontal accordion__icon-line"></span>
			    	<span class="accordion__icon-vertical accordion__icon-line"></span>
			    </div>
			</a>
			<div class="accordion__content">
				<p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (<a href="#" class="accordion__link-small">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class="link-more">Дiзнатися бiльше <span>→</span></a></p>
				<div class="useful">
					<h4 class="useful__title">Корисні посилання</h4>
					<a href="#" class="useful__link">Закон України «Про систему гарантування вкладів фізичних осіб»</a>
					<a href="#" class="useful__link">Довідка про систему гарантування вкладів фізичних осіб</a>
					<a href="#" class="useful__link">Освітній курс з фінансової грамотності ФГВФО</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
