<div class="hamburger">
   <div class="hamburger-icon"></div>
   <nav>
      	<ul>
         	<li class="hamburger__menu-list">
         		<a href="#" class="hamburger__main-link">ПРИВАТНИМ КЛІЄНТАМ</a>
         		<div class="hamburger__nav nav">
					<a href="#" class="nav__link">Кредити</a>
					<a href="#" class="nav__link">Депозити</a>
					<a href="#" class="nav__link">Рахунки та пакети</a>
					<a href="#" class="nav__link">Платіжні картки</a>
					<a href="#" class="nav__link">Страхування</a>
					<a href="#" class="nav__link">Грошові перекази</a>
					<a href="#" class="nav__link">Цінні папери</a>
				</div>
         	</li>
         	<li class="hamburger__menu-list">
         		<a href="#" class="hamburger__main-link">ЮРИДИЧНИМ ОСОБАМ</a>
         		<div class="hamburger__nav nav">
					<a href="#" class="nav__link">Кредити</a>
					<a href="#" class="nav__link">Депозити</a>
					<a href="#" class="nav__link">Рахунки та пакети</a>
					<a href="#" class="nav__link">Платіжні картки</a>
					<a href="#" class="nav__link">Страхування</a>
					<a href="#" class="nav__link">Грошові перекази</a>
					<a href="#" class="nav__link">Цінні папери</a>
				</div>
			</li>
         	<li class="hamburger__menu-list">
         		<a href="#" class="hamburger__main-link">ПРО БАНК</a>
         		<div class="hamburger__nav nav">
					<a href="#" class="nav__link">Кредити</a>
					<a href="#" class="nav__link">Депозити</a>
					<a href="#" class="nav__link">Рахунки та пакети</a>
					<a href="#" class="nav__link">Платіжні картки</a>
					<a href="#" class="nav__link">Страхування</a>
					<a href="#" class="nav__link">Грошові перекази</a>
					<a href="#" class="nav__link">Цінні папери</a>
				</div>
         	</li>
         	<li class="hamburger__menu-list">
         		<a href="#" class="hamburger__main-link">IНТЕРНЕТ-БАНКIНГ</a>
         		<div class="hamburger__nav nav">
					<a href="#" class="nav__link">Кредити</a>
					<a href="#" class="nav__link">Депозити</a>
					<a href="#" class="nav__link">Рахунки та пакети</a>
					<a href="#" class="nav__link">Платіжні картки</a>
					<a href="#" class="nav__link">Страхування</a>
					<a href="#" class="nav__link">Грошові перекази</a>
					<a href="#" class="nav__link">Цінні папери</a>
				</div>
         	</li>
      	</ul>
   	</nav>
</div>