<header class="header">
	<div class="topline">
		<div class="topline__nav">
			<a href="#" class="topline__link is__active">Приватним клієнтам</a>
			<a href="#" class="topline__link">Юридичним особам</a>
			<a href="#" class="topline__link">Про банк</a>
			<a href="#" class="topline__link">Iнтернет-Банкiнг</a>
	  	</div>
	  	<div class="header__right">
			<form action="#" method="post" class="search">
				<div>
					<input type="text" class="search__input" placeholder="Пошук" name="q">
					<button type="submit" class="search__button">
						<img src="img/search-icon.png" alt="" class="search__button-img">
					</button>
				</div>
			</form>

			<div class="language">
				<a href="#" class="topline__link is__active">UA</a>
				<a href="#" class="topline__link">EN</a>
				<a href="#" class="topline__link">RU</a>
				<a href="#" class="topline__link">PL</a>		
			</div>
	  	</div>
	</div>
	<div class="header__bottom">
		<div class="header__logo">
			<a href="#" class="logo">
				<img src="img/logo.png" alt="">
			</a> 
		</div>
		<div class="header__nav nav">
			<a href="#" class="nav__link">Кредити</a>
			<a href="#" class="nav__link">Депозити</a>
			<a href="#" class="nav__link">Рахунки та пакети</a>
			<a href="#" class="nav__link">Платіжні картки</a>
			<a href="#" class="nav__link">Страхування</a>
			<a href="#" class="nav__link">Грошові перекази</a>
			<a href="#" class="nav__link">Цінні папери</a>
		</div>
	</div>
</header>
