<div class="services">
	<div class="item">
		<h3><a class="item-link" href="#">Депозит «Стандарт +»</a></h3>
		<p class="item-text">Призначений для Вкладників, які хочуть отримати від розміщених коштів високий прибуток після закінчення строку депозиту</p>
		<a href="#" class="button">Замовити <i class=" button__arrow fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	<div class="item">
		<h3><a class="item-link" href="#">Family &#38; Friends</a></h3>
		<p class="item-text">Передбачений для клієнтів, що бажають отримувати ще більше доходу разом із своїми близькими та друзями або ж отримувати бонус від розміщення своїх власних додаткових коштів.</p>
		<a href="#" class="button">Замовити <i class=" button__arrow fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	<div class="item">
		<h3><a class="item-link" href="#">Подарунок на повноліття</a></h3>
		<p class="item-text">Cпеціальний вклад для збереження коштів для дітей якi може отримати ці кошти в день досягнення 18-ти річного віку, як подарунок від батьків, дідусів, бабусь та інших близьких.</p>
		<a href="#" class="button">Замовити <i class=" button__arrow fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
</div>